django
django-extensions
djangorestframework
markdown
django-filter
drf-yasg
iso4217
pycountry
pytz
lxml
forex-python
django_redis
django-cors-middleware
timezonefinder
pysendfile
countryinfo
pint
gunicorn
django-createsuperuser
psycopg2
mysql
Babel