<div id="currencies_stream" style="height:150px; width:100%;overflow:hidden;">
    <table class="table" style="overflow-y: scroll;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Symbol</th>
            <th>Exponent</th>
        </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.currency_name }}</td>
                <td>{{ currency.code }}</td>
                <td>{{ currency.symbol }}</td>
                <td>{{ currency.exponent }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
