recursive-include geocurrency/templates *.html
recursive-include geocurrency/static *.css
recursive-include geocurrency/static *.js
recursive-include geocurrency/static *.jpg
recursive-include geocurrency/static *.png
recursive-include geocurrency/locale *.mo
recursive-include geocurrency/*/templates *.html
recursive-include geocurrency/*/static *.css
recursive-include geocurrency/*/static *.js
recursive-include geocurrency/*/static *.jpg
recursive-include geocurrency/*/static *.png
recursive-include geocurrency/core/fixtures *.json
